{% extends "layout.html" %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'style.css' %}"">
{% endblock %}

{% block content %}

    <title>harita</title>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d411185.68941878015!2d29.593473999999986!3d36.3755954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c1c87ee2ba4ec3%3A0x377bcfe6243798c5!2zS2HFny9BbnRhbHlh!5e0!3m2!1str!2str!4v1670530121539!5m2!1str!2str" width="800" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
{% endblock content %}